/* Variables */
$color-main: #e74c3c;
$color-white: #FFF;
$color-grayLight: #ecf0f1;
$color-CTA: #f39c12;
$color-text: rgba(0,0,0,0.87);

$font-title: 'Lato', sans-serif;
$font-main: 'Barlow Semi Condensed', sans-serif;

$border-radius: 0.2em;
$box-shadow: 0 0.2em 1em -0.3em rgba(0,0,0,.75);


/* Layout */
$wrapperXL: 1250px;
$wrapperMD: 80%;
$wrapperSM: 95%;

/* Mixins */
@mixin resetLinks {
    text-decoration: none;
    color: inherit;
}