/* Variables */
$color-main: #e74c3c;
$color-white: #FFF;
$color-grayLight: #ecf0f1;
$color-CTA: #f39c12;
$color-text: rgba(0,0,0,0.87);
$color-link: #3498db;

$font-title: 'Lato', sans-serif;
$font-main: 'Barlow Semi Condensed', sans-serif;

$border-radius: 0.1em;
$box-shadow: 0 0.2em 1em -0.3em rgba(0,0,0,.75);


/* Device Widths */
$devDesktop: 900px;
$devSmall: 600px;

/* Layout */
$wrapperXL: 1050px;
$wrapperMD: 70%;
$wrapperSM: 95%;

$wrapperWidth: 95%;


/* Mixins */
@mixin resetLinks {
    text-decoration: none;
    color: inherit;
   // transition: all 0.3s;
}

@mixin floatLinks {
    color: $color-link;
}